.SharedChallengeContainer{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SharedChallengeContainer__row{
    display: flex;
    gap: 20px;
}

.SharedChallengeContainer__row img {
    width: 175px;
    height: 175px;
}

.BingoTableContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.BingoTitle{
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    color: #ff4e00;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}