.HomeTitle{
    font-family: "Luckiest Guy", cursive;
    font-size: 25px;
    color: #ff4e00;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.HomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.HomeLogo{
    position: relative;
    left: 4vw;
}