.SharedChallengeTimer{
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    color: #ff4e00;
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}